<%= form_with(model: rom, local: true) do |form| %>
  <% if rom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rom.errors.count, "error") %> prohibited this rom from being saved:</h2>

      <ul>
        <% rom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
  
  <div class="field">
    <%= form.label :zip_file_link %>
    <%= form.text_field :zip_file_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
