<section>
<%= link_to 'Logout', logout_path %>
<%= link_to 'New Rom', new_rom_path %>
<main class="conteiner">
<% @roms.each do |rom| %>
<% if rom.image_url==nil%>
<article>
    <%= link_to('image', rom_path(rom))  %>
    <h2 class="rom-name"><%= rom.name %></h2>
</article>
<% end %>
    <% if rom.image_url %>
    <article>
    <%= link_to(image_tag(rom.image_url, class: 'rom-image'), rom_path(rom))  %>
    <h2 class="rom-name"><%= rom.name %></h2>
    <%= link_to 'Edit', edit_rom_path(rom) %>
    <%= link_to 'Destroy', rom, method: :delete, data: { confirm: 'Are you sure?' } %>
    </article>
    <% end %>
<% end %>
<%= link_to 'New Rom', new_rom_path %>
</main>
</section>
<footer>
   Footer
</footer>