<section class="show-section">
<main>
<%= image_tag @rom.image_url, class: 'rom-image-show' %>
</main>

<h2 class="rom-name"><%= @rom.name %></h2>
<div>
<%= button_to 'Save game', {action: 'download', id: @rom.id }, method: :get, id: 'btn' %>
</div>

<%= link_to 'Edit', edit_rom_path(@rom) %>
<%= link_to 'Back', roms_path %>
